// Customize Theme
$theme-colors: (
  "primary": rgb(42, 52, 57),
  "secondary": #FDFFFC,
  "accent": #023C0D,
  "danger": #D65780,
  "background": rgba(126, 175, 52, 1),
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

//Import fonts
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

// html components

body {
  font-family: 'Bebas Neue', cursive;
  font-size: 1rem;
  background-color: #FDFFFC;

  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 1.5rem;
  }
}

h1 {
  font-size: 4rem;
  font-family: 'Koulen', cursive;
  background-color: rgba(126, 175, 52, 1);
  margin-bottom: 0;
  @include media-breakpoint-up(md) {
    font-size: 6rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 8rem;
  }
  
}

// bootstrap components

.btn-outline-primary {
  background-color: rgba(2, 60, 13, 0.4);
  color: hsl(100, 100%, 99%);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
  &.active {color: rgb(0, 0, 0); }
  &:not(.active) {
  color: #495057;
  &:hover {
    border: 1px solid hsl(100, 100%, 99%);
    border-color: #dee2e6 #dee2e6 hsl(100, 100%, 99%);
  }
}
}

// table.table { width:auto; }

// custom components

.match-heading {
  font-size: 3rem;

  @include media-breakpoint-up(md) {
    font-size: 4rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 4rem;
  }
}

.match-buttons {
  // background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='500' height='500' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(-4)'%3E%3Crect width='100%25' height='100%25' fill='rgba(126, 175, 52, 1)'/%3E%3Cpath d='M-10 20h60v1h-60z' fill='rgba(255, 245, 245,1)' /%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  padding: 0;
  min-height: 100vh;
}

.pitch-container {
  position: relative;
  margin: 0 auto;
  width: 90vw;
  height: 45vw;
    
  @include media-breakpoint-up(xl) {
    width: 55vw;
    height: 27.5vw;
  }
  // @include media-breakpoint-up(xxl) {
  //   width: 50vw;
  //   height: 25vw;
  // }

}

.formation-player {
  font-family: 'Roboto Condensed', sans-serif;
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
    font-size: 0.75rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 1rem;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 1rem;
  }
}

.formation-number {
  font-size: 0.5rem;
  @include media-breakpoint-up(sm) {
    font-size: 0.75rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 1rem;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 1.25rem;
  }
}

.player-stats {
  tbody {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.25rem;

  }
}

.event-tab {
  .nav-link.active {
    outline: 1px solid rgba(42, 52, 57, 0.5);
  }
  .nav-link:not(.active):hover {
    border: none;
    outline: none;
    transform: scale(1.1)
  }
  h5{
    font-size: 1rem;
    @include media-breakpoint-up(sm) {
      font-size: 1.25rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 1.75rem;
    }
  }
  
}

.event-stat {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25rem;
  h5 {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.heatmap-container {
  canvas {
    width: calc(100%);
    height: calc(100%);
  }
}

.ui-control {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}